// Color system

$oranges: #ff5a18 !default;

$gray: #a0a0a0 !default;

$amber: #a96d38 !default;
$Azure: #f3f5f5 !default;
$DarkGreen: #35a211 !default;

$DarkGray: #e7e7e7 !default;
$Cyan: #1a5dcd !default;
$LightGray: #dddedf !default;

$Gainsboro: #e4e6e8 !default;

$red: #ec272f !default;

$blacktext: #434343 !default;

$orangeColor: #a96d38 !default;
$blue: #182164 !default;
$bluebg: #141b4d !default;
$blueColor: #00cda0 !default;

// Font system
$font-family-base: 'Montserrat' !default;

// Font Config
//
$fontLight: 'Montserrat';
$fontBold: 'Montserrat';
$fontRegular: 'Montserrat';

$fontThin: 'Montserrat';
$fontUltra: 'Montserrat';
$fontXlightItalic: 'Montserrat';

$fontWeightThin: 100;
$fontWeightXLight: 200;
$fontWeightLight: 300;
$fontWeightReguler: 500;
$fontWeightBold: 700;
$fontWeightExBold: 800;
$fontWeightBlack: 900;

$font-size-base: 14px !default;
$font-size-13: 13px !default;
$font-20: 20px !default;

$font-15: 15px !default;

$font-size-h1: 22px !default;

// propaty app
$white: #ffffff !default;
$colorFont: #9b9da0 !default;
$CadetBlue: #95a5a6 !default;
$Gainsboro: #999999 !default;
$redcolor: #d2232a !default;
$DimGray: #d9d9d9 !default;
$DimGrey: #333333 !default;
$Dimcolor: #535353 !default;
$black: #000000 !default;
$graysilver: #f9f9f9 !default;
$bluesilver: #34495e !default;
$silver: #666666 !default;
$bg: #f0f0f0 !default;
$bgSilver: #f4f4f4 !default;
$colorSilver: #4c4c4c !default;
$colorviolet: #21013e !default;
$silverviolet: #5b5b5b !default;
$font-color-base: #4a4a4a !default;
$Anti-flash-white: #a7a9aa !default;
$greencolor: #39b54a !default;
$graycolor: #9fa3a7 !default;
$blackmodel: #212121 !default;
$Crimson: #d2232a !default;
$BlackCoral: #444444 !default;
$Coral: #2e3e4e !default;
$Slategray: #646464 !default;
$bggray: #f3f3f3 !default;
$GhostWhite: #9b9b9b !default;
$colorE4: #e4e4e4 !default;
$colorF2: #f2f2f2 !default;

// color
$TextBlue: #104854 !default;
$yellow: #ffc400 !default;
$gray: #e3e3e3 !default;
$blue: #3b5998 !default;
$colorText: #808080 !default;
$Yellowcolor: #ffc400 !default;
$blackcolor: #343434 !default;
$lightgray: #5c5c5c !default;

$font-30: 30px !default;
$font-10: 10px !default;
$font-12: 12px !default;
$font-13: 13px !default;
$font-14: 14px !default;
$font-15: 15px !default;
$font-16: 16px !default;
$font-25: 25px !default;
$font-18: 18px !default;
$font-22: 22px !default;

$font15: 15px !default;
$font16: 16px !default;
$font17: 17px !default;
$font18: 18px !default;
$font19: 19px !default;
$font20: 20px !default;
$font21: 21px !default;
$font22: 22px !default;
$font23: 23px !default;
$font24: 24px !default;

$header-height: 56px;
$footer-height: 80px;
