.hb-landing {
  background-image: url(../../../images/huboo/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 800px;
  height: 982px;
  max-height: 982px;
  background-position: center;
}
