.header-wrapper {
  width: 100%;
  position: relative;
  background: url('../../../images/header.jpg') no-repeat center #111;
  .header {
    position: relative;
    min-height: 88px;
    .header-sub {
      color: white;
      padding-top: 88px;
    }
    .title-1 {
      padding: 30px 0px;
    }
  }
}
